{{ define "main" }}
<div class="p-6 max-w-5xl mx-auto slide-enter-content">
  <h2 class="text-2xl font-bold mb-4">Projects</h2>
  <div class="grid grid-cols-1 gap-4">
    <!-- Project 1 -->
    <div class="border-double border-4 border-white pb-3">
      <div class="flex md:flex-row flex-col m-8">
        <div class="md:w-1/2 p-4">
          <h3 class="text-xl font-semibold mb-2">Axiomatic Football</h3>
          <p class="text-gray-400">
            Axiomatic Football is a football analytics platform, showcasing live
            season forecasts in a minimal and readable style, along with thought
            out analysis and methodology.
          </p>
          <a
            href="https://www.axiomaticfootball.com/"
            class="text-blue-500 hover:underline mt-2 inline-block"
            >Learn More</a
          >
        </div>
        <div class="md:w-1/2 p-4">
          <img
            src=""
            alt="Axiomatic Football"
            class="w-full h-64 object-cover rounded-md mb-4"
          />
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="border-double border-4 border-white pb-3">
      <div class="flex md:flex-row flex-col m-8">
        <div class="md:w-1/2 p-4">
          <h3 class="text-xl font-semibold mb-2">React Newspaper</h3>
          <p class="text-gray-400">
            React Newspaper is a UI library with components that look like a
            stylish interactive newspaper. Make your websites stand out, not
            look like a template.
          </p>
          <a href="/#" class="text-blue-500 hover:underline mt-2 inline-block"
            >Learn More</a
          >
        </div>
        <div class="md:w-1/2 p-4">
          <img
            src=""
            alt="React Newspaper"
            class="w-full h-64 object-cover rounded-md mb-4"
          />
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="border-double border-4 border-white pb-3">
      <div class="flex md:flex-row flex-col m-8">
        <div class="md:w-1/2 p-4">
          <h3 class="text-xl font-semibold mb-2">Honk.</h3>
          <p class="text-gray-400">
            Honk. is a cute immersive storytelling app targeted at UK audiences
            soon to be released. Sign up to be the first to download it!
          </p>
          <a href="/#" class="text-blue-500 hover:underline mt-2 inline-block"
            >Learn More</a
          >
        </div>
        <div class="md:w-1/2 p-4">
          <img
            src=""
            alt="Honk. App"
            class="h-24 object-cover rounded-md mb-4"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
